.cartContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 35vw;
    height: 100vh;
    background: white;
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9999999999;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.closeButton {
    position: absolute;
    top: 2rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center; /* Aligns items vertically */
}

.closeH1 {
    color: rgba(48, 48, 48, 0.6);
    font-family: Cormorant, serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 20px;
    margin-right: 1rem; /* Space between text and icon */
}

.headerContainer{
    width: 100%;
    border-bottom: 0.5px solid rgba($color: #303030, $alpha: 0.2);
}
.cartTitle {
    padding: 1rem 2rem;
    .cartH1{
        font-family: Cormorant, serif;
        font-style: normal;
        text-decoration: none;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-size: 20px;
        color: rgba(48, 48, 48, 0.6);
    }
}

@media (max-width: 1090px) {
    .cartContainer {
        width: 50vw;
    }
}

@media (max-width: 600px) {
    .cartContainer {
        width: 80vw;
    }
}


@media (max-width: 450px) {
    .cartContainer {
        width: 100vw;
    }
}
