.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 20px 20px 20px;
    height: 100%;
    box-sizing: border-box;
    .body {
      display: flex;
      gap: 20px;
      flex-direction: column;
      overflow: auto;
      .linkContainer {
        perspective: 120px;
        perspective-origin: bottom;
        //border-bottom: 1px solid rgb(150, 149, 149);
        .mainLink {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid rgba($color: #979797, $alpha: 0.5);
          
          text-decoration: none;
          color: rgba($color: #000000, $alpha: 0.7);
          letter-spacing: .14em;
          font-size: 13px;
          text-transform: uppercase;
          font-family: Cormorant, serif;
          font-style: normal;
          font-weight: 100;
          cursor: pointer;
          
          button {
            background: none;
            border: none;
            font-size: 25px;
            cursor: pointer;
            color: rgba($color: #000000, $alpha: 0.6);
          }
        }
        .sublinks {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          overflow: hidden;
          a {
            text-decoration: none;
            margin: 3px 0;
            color: rgba($color: #919191, $alpha: 0.7);
            letter-spacing: .2em;
            font-size: 12px;
            line-height: 2rem;
            text-transform: uppercase;
            font-family: Cormorant, serif;
            font-style: normal;
            font-weight: 100; 
          }
        }
      }
    }
  }