@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');

.Text_part{
  position: absolute;
  z-index: 2;
  bottom: 4rem;
  left: 6rem;

  .Explore{
    color: #FFFFFF;
    letter-spacing: .15em;
    font-size: 25px;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: 500; 
  }
  .Paragraph_Explore{
    color: #FFFFFF;
    letter-spacing: .1em;
    font-size: 35px;
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-weight: 500; 
  }
}

.button{
  width: 300px;
  height: 50px;
  background-color: hsl(0, 0%, 81%);
  color: white;
  border-radius: 1px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  p{
      z-index: 1;
      color: #1C1D20;
      letter-spacing: .2em;
      font-size: 20px;
      word-spacing: .1em;
      text-transform: uppercase;
      font-family: "Cormorant Garamond", serif;
      font-style: normal;
      font-weight: 500; 
  }
}

.BTN_Prev {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 1;
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0;
  text-align: center;
  color: rgb(0, 0, 0);
  opacity: 1;
  transition: opacity 150ms ease cubic-bezier(0.25, 0.1, 0.25, 1.0);
}

.BTN_Prev:hover, .BTN_Prev:focus {
  text-decoration: none;
  opacity: 0.9;
  outline: none;
}

.BTN_Prev button, .BTN_Next button {
  color: white;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.BTN_Prev button:hover, .BTN_Next button:hover {
  opacity: 1;
}

.BTN_Next {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
  border: 0;
  padding: 0;
  text-align: center;
  color: rgb(0, 0, 0);
  opacity: 1;
  transition: opacity 150ms ease cubic-bezier(0.25, 0.1, 0.25, 1.0);
}

.BTN_Next:hover, .BTN_Next:focus {
  text-decoration: none;
  opacity: 0.9;
  outline: none;
}

@media (max-width: 414px) {
  .Text_part {
    bottom: 6rem;
    left: 2rem;
  }
}