.accordion {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    
    .body {
      display: flex;
      gap: 20px;
      flex-direction: column;
      overflow: auto;
  
      .itemContainer {
        perspective: 120px;
        perspective-origin: bottom;
  
        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px solid rgba($color: #303030, $alpha: 0.3);
          cursor: pointer;

          color: rgba($color: #303030, $alpha: 0.6);
          letter-spacing: .2em;
          font-size: 19px;
          text-transform: uppercase;
          font-family: Cormorant, serif;
          font-style: normal;
          font-weight: 100;
  
          &:hover {
            color: rgba($color: #000000, $alpha: 0.8);
          }
  
          button {
            background: none;
            border: none;
            font-size: 25px;
            cursor: pointer;
            color: rgba($color: #000000, $alpha: 0.6);
          }
        }
  
        .content {
          display: flex;
          flex-direction: column;
          margin-left: 10px;
          overflow: hidden;
  
          p {
            margin: 3px 0;
            color: rgba($color: #303030, $alpha: 0.8);
            letter-spacing: .05em;
            font-size: 19px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-style: normal;
            font-weight: bold;
          }
        }
      }
    }
  }
  