@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=DM+Serif+Display:ital@0;1&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    margin: 0px;
    overflow: auto;
    cursor: auto;
    background-color: #f3f2ec;
}

::-webkit-scrollbar{
    background-color: hsl(0, 0%, 100%);
    display: none; /* change to block */
    width: 8px;
}

  
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: hsl(233, 9%, 37%);
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: hsl(229, 9%, 51%);
}
