.searchBar {
    position: fixed;
    top: 3rem;
    left: 0;
    width: 100vw;
    height: 3rem;
    background-color: #f3f2ec;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 991;
}
.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.searchIcon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba($color: #303030, $alpha: .8);
}

.animatedLine {
  position: absolute;
  bottom: 2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: rgba($color: #303030, $alpha: 0.8);
  transition: width 0.4s ease, left 0.4s ease;
}
.searchInput:focus + .animatedLine {
  width: 100vw;
  left: -20px;
}
.searchContent {
    display: flex;
    align-items: center;
    width: 100%;
}
.searchInput {
    width: 95vw;
    height: 60px;
    padding: 5px 40px;
    background: none;
    outline: none;
    border: none;
    color: rgba($color: #303030, $alpha: 1);
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 15px;
}

.closeButton {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: rgba($color: #303030, $alpha: .8);
}

/* Basic styling for the placeholder */
.searchInput::placeholder {
    color: rgba($color: #303030, $alpha: 0.7);
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 15px;
}
  
/* Placeholder styling for WebKit browsers (Chrome, Safari, Opera) */
.searchInput::-webkit-input-placeholder {
    color: rgba($color: #303030, $alpha: 0.7);
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 15px;
}


/* Placeholder styling for Microsoft Edge */
.searchInput::-ms-input-placeholder {
    color: rgba($color: #303030, $alpha: 0.7);
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 22px;
}

.searchResults {
    position: absolute;
    left: 0;
    top: 3rem;
    width: 100vw;
    //height: 10vh;
    background-color: #eeeeed;
    overflow-y: auto;
    z-index: 9;
    padding: 10px;
}
  
.foundProducts {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 5px; /* Optional: Adds spacing between items */
  justify-content: center; /* Centers items horizontally */
  //align-items: center; /* Centers items vertically */
  width: 100%; /* Ensures the container spans the full width */
  //min-height: 50vh; /* Ensure some vertical space is reserved */
}

.productItem {
  width: 160px;
  box-sizing: border-box;
}

.noProductsFound {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -60%);
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.noProductsFound p{
    color: rgba($color: #303030, $alpha: 0.7);
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 22px;
}

@media (max-width: 1200px) {
  .searchInput {
      width: 90vw;
  }
}

@media (max-width: 670px) {
  .closeButton {
    right: 8px;
  }
}